@using Microsoft.AspNetCore.Http
@using WDTA2.Controllers
@using WDTA2.Models.BusinessModels
@using System.Collections.Generic;

@model IEnumerable<OrderItem>

<br><br>
@foreach (var item in ViewData["OrdersMap"] as Dictionary<int, List<OrderItem>>)
{
<div class="panel panel-primary">
    <div class="panel-heading">Order ID: @item.Key</div>
    <div class="panel-body">
        @foreach(var time in ViewData["OrderDate"] as Dictionary<int, DateTime>){
        if(time.Key == item.Key){
    <p>Creation Time: @time.Value</p>
        }

        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Store Name
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var orderItem in item.Value)
        {
            <tr>
                <td>
                    @orderItem.Product.Name
                </td>
                <td>
                    @orderItem.Store.Name
                </td>
                <td>
                    @orderItem.Quantity
                </td>

            </tr>
        }

            <tr>
                <td></td>
                <td></td>
                <td></td>

            </tr>

        </tbody>

    </table>
</div>
    }
    <td class="bottom-right">
        &emsp;&emsp;<a asp-action="Inventory" class="btn bottom-right btn-success" role="button">Back</a>

    </td>

